page-nosotros {

    .nosotros-content  {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/karenapp-fb85e.appspot.com/o/bgyummy1.jpg?alt=media&token=42125a92-8c60-4b66-b1e5-6725dac1e2fd');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }	

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }	

}
